<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @site.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @site.longitude %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @site.adress %>
</p>

<p>
  <strong>Title:</strong>
  <%= @site.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @site.body %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
